<div class="container">
  <div class="container-header">
    <div class="row align-items-center">
      <div class="col-4">
        <div class="row ">
          <div class="col-3">
            <img class="container-image" src="../../assets/Màu đồng Ngôi nhà Phong cách sống Logo (1).png"/>
          </div>
       
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-9 p-0">
            <input class="input-header px-3" placeholder="Tìm kiếm ..." type="text"/>
          </div>
          <button class="btn-search-header col-3">Tìm kiếm</button>
        </div>
        
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-9">
            <div class="row">
              <div class="col-6">
                Email Us 
              </div>
              <div class="col-6">
                Giỏ hàng
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
