<div class="container-fuild container-footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img class="container-image-footer" src="https://115.78.228.208:20350/bvhsales/YUaXg9vBwjT9k7LUcXJktZ3Qely1/Danh%20m%E1%BB%A5c/logo.png"/>
        <p class="mt-2">Địa chỉ: Nguyễn Công Trứ, Địa chỉ: 379 Nguyễn Công Trứ , Phường Cầu Ông Lãnh , Quận 1 , Tp Hồ Chí Minh</p>
      </div>
      <div class="col-4">
      <div class="row justify-content-center">
        <div class="col-6">
          <h1 class="fw-medium fs-5">VỀ CHÚNG TÔI</h1>
          <ul style="list-style: none; padding-left: 0;">
           <li class="item-footer">Trang chủ</li>
           <li class="item-footer">Giới thiệu</li>
           <li class="item-footer">Sản phẩm</li>
           <li class="item-footer">Tin tức</li>
           <li class="item-footer">Liên hệ</li>
          </ul>
        </div>
      </div>
      </div>
      <div class="col-4">
        <div class="row justify-content-start">
          <div class="col-12">
            <h1 class="fw-medium fs-5">LIÊN HỆ</h1>
            <ul style="list-style: none; padding-left: 0;">
             <li class="item-footer">379 Nguyễn Công Trứ , Phường Cầu Ông Lãnh , Quận 1 , Tp Hồ Chí Minh</li>
             <li class="item-footer">0939 849 966 - (0283)9713 666</li>
             <li class="item-footer">bepviet270@gmail.com - vietbep270@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>